__pycache__
data/hg38.fa
data/hg38.fa.fai
scoring_pipeline_scratch.ipynb
scripts/scoring.py
walkthroughs/.ipynb_checkpoints
.ipynb_checkpoints
test_data/test_set_edge_cases/test_set_edge_simple_sequences.fa
test_data/test_set_edge_cases/test_set_edge_simple_sequences.fa.fai
scripts/OLD_utils.py
test_data/test_set_sequences/sequences/
test_data/example_application/tumor_output/
test_data/custom_perturbations/output/CTCF_del_maps.npy
test_data/custom_perturbations/output/CTCF_del_tracks.npy
testing_packages.py
Akita_model/
score_var_output/
