__pycache__
data/hg38.fa
data/hg38.fa.fai
scoring_pipeline_scratch.ipynb
scripts/scoring.py
walkthroughs/.ipynb_checkpoints
.ipynb_checkpoints
test/output/run_test_simple_sequences.fa
test/output/run_test_simple_sequences.fa.fai
scripts/OLD_utils.py
test/sequences/
test/tumor_output/
test/output/CTCF_del_maps.npy
test/output/CTCF_del_tracks.npy
testing_packages.py
Akita_model/
score_var_output/
